<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorator="/layouts/default">

    <th:block layout:fragment="content">
        <!-- Begin Page Content -->
        <div class="container-fluid">
            <!-- Heading -->
            <div class="edit-menu-content">
                메뉴 편집
                <!-- Divider -->
                <hr class="sidebar-divider">
            </div>

            <div class="main_content">
                <div class="content_area">
                    <span sec:authentication="principal.authorities" id="sec-roles" style="display: none"></span>
                    <input type="hidden" th:value="${existsMenuId}" id="existsMenuId">

                    <div id="edit-menu-left" th:if="${managerOrderingMenuList.size() != 0}">
                        <form id="leftForm" th:action="@{/manager/menu/sort}" method="post">



                            <ul class="ul-style-none sortable">
                                <li th:if="${menu.menuDisplay eq 'Y'}" th:each="menu, i : ${managerOrderingMenuList}" th:id="@{one-} + ${i.index}" class="nav-item oneLevel">
                                    <input type="hidden" name="ids" th:value="${menu.id}">
                                    <input type="hidden" name="orderings">

                                    <a th:href="|javascript:Menu.menuDetail(${menu.id});|">
                                        <i class="fas fa-fw" th:classappend="${menu.menuType.name()} eq 'DIRECTORY' ? 'fa-folder' : 'fa-file'"></i>
                                        <span th:text="${menu.menuName}"></span>
                                    </a>

                                    <ul class="ul-style-none sortable" th:if="${menu.child != null && menu.child.size() != 0}">
                                        <li th:each="menuChild2, j : ${menu.child}" th:id="@{two-} + ${i.index} + ${j.index}" class="twoLevel">
                                            <input type="hidden" name="ids" th:value="${menuChild2.id}">
                                            <input type="hidden" name="orderings">

                                            <a th:href="|javascript:Menu.menuDetail(${menuChild2.id});|">
                                                <i class="fas fa-fw" th:classappend="${menuChild2.menuType.name()} eq 'DIRECTORY' ? 'fa-folder' : 'fa-file'"></i>
                                                <span th:text="${menuChild2.menuName}"></span>
                                            </a>

                                            <ul class="ul-style-none sortable" th:if="${menuChild2.child != null && menuChild2.child.size() != 0}">
                                                <li th:each="menuChild3, k : ${menuChild2.child}" th:id="@{three-} + ${i.index} + ${j.index} +  ${k.index}" class="threeLevel">
                                                    <input type="hidden" name="ids" th:value="${menuChild3.id}">
                                                    <input type="hidden" name="orderings">

                                                    <a th:href="|javascript:Menu.menuDetail(${menuChild3.id});|">
                                                        <i class="fas fa-fw" th:classappend="${menuChild3.menuType.name()} eq 'DIRECTORY' ? 'fa-folder' : 'fa-file'"></i>
                                                        <span th:text="${menuChild3.menuName}"></span>
                                                    </a>

                                                    <ul class="ul-style-none sortable" th:if="${menuChild3.child != null && menuChild3.child.size() != 0}">
                                                        <li th:each="menuChild4, l : ${menuChild3.child}" th:id="@{four-} + ${i.index} + ${j.index} + ${k.index} + ${l.index}" class="fourLevel">
                                                            <input type="hidden" name="ids" th:value="${menuChild4.id}">
                                                            <input type="hidden" name="orderings">

                                                            <a th:href="|javascript:Menu.menuDetail(${menuChild4.id});|">
                                                                <i class="fas fa-fw" th:classappend="${menuChild4.menuType.name()} eq 'DIRECTORY' ? 'fa-folder' : 'fa-file'"></i>
                                                                <span th:text="${menuChild4.menuName}"></span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>

                                    <!-- Divider -->
                                    <hr class="sidebar-divider">
                                </li>

                            </ul>

                            <div class="text-center">
                                <div id="menu-sort-mode-off">
                                    <p class="text-danger">(*) 메뉴 추가는 최고 관리자(Supervisor) 권한만 가능</p>
                                    <button type="button" class="btn btn-primary btn-user m-3" onclick="Menu.menuOrderingMode();">
                                        메뉴 순서 변경 모드
                                    </button>
                                    <button type="button" id="add-menu" class="btn btn-primary btn-user m-3" onclick="Menu.controlRightMenu();">
                                        메뉴 추가
                                    </button>
                                    <button type="button" class="btn btn-primary btn-user m-3" onclick="Menu.controlRightMenu('cancel');">
                                        취소
                                    </button>
                                </div>

                                <div id="menu-sort-mode-on" style="display: none;">
                                    <p class="text-danger">(*) 마우스 드래그를 통해 메뉴 순서 변경</p>
                                    <button type="button" class="btn btn-primary btn-user m-3" onclick="Menu.btnSaveMenuOrdering();">
                                        메뉴 순서 변경 저장
                                    </button>
                                    <button type="button" class="btn btn-primary btn-user m-3" onclick="location.href='/manager/menu/edit'">
                                        취소
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div id="edit-menu-right" style="display: none;">
                        <form th:action="@{/manager/menu}" method="post" id="rightForm">
                            <input type="hidden" name="id" id="menu-id">
                            <input type="hidden" name="menuLevel" id="menu-level">
                            <input type="hidden" name="ordering" id="ordering">

                            <div>
                                <p id="text-status"></p>
                                <!-- Divider -->
                                <hr class="sidebar-divider">
                            </div>

                            <table class="board_table menu-table">
                                <colgroup>
                                    <col width="30%">
                                    <col width="70%">
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <td class="h3 mb-4 text-gray-800">부모 메뉴</td>
                                        <td>
                                            <select name="parentId" id="parent-id" class="form-control supervisor-menu" style="height: 50px">
                                            <!--<i class="fas fa-fw" th:classappend="${menu.menuType.name()} eq 'DIRECTORY' ? 'fa-folder' : 'fa-file'"></i>-->
                                            <!--<select name="parent" id="parent" class="form-control supervisor-menu" style="height: 50px">-->
                                                <option th:text="없음" value="" selected></option>
                                                <div th:if="${menu.menuDisplay eq 'Y'}" th:each="menu : ${managerOrderingMenuList}">
                                                    <option th:if="${menu.menuType.name()} eq 'DIRECTORY'" th:text="|1.${menu.menuName}|" th:value="${menu.id}"></option>
                                                    <div th:if="${menu.child != null && menu.child.size() != 0}" th:each="menuChild2 : ${menu.child}">
                                                        <option th:if="${menuChild2.menuType.name()} eq 'DIRECTORY'" th:text="|2.${menuChild2.menuName}|" th:value="${menuChild2.id}"></option>
                                                        <option th:each="menuChild3 : ${menuChild2.child}" th:if="${menuChild3.menuType.name()} eq 'DIRECTORY'" th:text="|3.${menuChild3.menuName}|" th:value="${menuChild3.id}"></option>
                                                    </div>
                                                </div>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="h3 mb-4 text-gray-800">메뉴 코드</td>
                                        <td>
                                            <input type="text" name="menuCode" id="menu-code" class="form-control supervisor-menu">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="h3 mb-4 text-gray-800">메뉴 이름</td>
                                        <td>
                                            <input type="text" name="menuName" id="menu-name" class="form-control supervisor-menu">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="h3 mb-4 text-gray-800">메뉴 타입</td>
                                        <td>
                                            <!--<input class="menu-type form-control">-->
                                            <select name="menuType" id="menu-type" class="form-control supervisor-menu" style="height: 50px">
                                                <option th:text="선택" value="" disabled selected></option>
                                                <option th:each="menuType : ${menuTypes}"
                                                        th:text="${menuType}"
                                                        th:value="${menuType}">
                                                </option>
                                            </select>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td class="h3 mb-4 text-gray-800">url</td>
                                        <td>
                                            <input type="text" name="url" id="menu-url" class="form-control supervisor-menu">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="h3 mb-4 text-gray-800">uri</td>
                                        <td>
                                            <input type="text" name="uri" id="menu-uri" class="form-control supervisor-menu">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="h3 mb-4 text-gray-800">메뉴 디스플레이</td>
                                        <td>
                                            <select name="menuDisplay" id="menu-display" class="form-control" style="height: 50px">
                                                <option th:text="선택" value="" disabled selected></option>
                                                <option th:text="보임" th:value="Y"></option>
                                                <option th:text="숨김" th:value="N"></option>
                                            </select>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                            <div class="text-center">
                                <!--<button type="button" class="btn btn-primary btn-user m-3" onclick="Menu.menuSave();">
                                    저장
                                </button>-->
                                <button type="submit" class="btn btn-primary btn-user m-3" id="edit-save-button">
                                    저장
                                </button>

                                <button type="button" class="btn btn-primary btn-user m-3" onclick="Menu.controlRightMenu('cancel');">
                                    취소
                                </button>
                                <p class="text-danger" style="display: none;" id="no-save">(*) 메뉴 순서 변경 중에는 저장이 불가능 합니다.</p>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
</html>