<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <!-- Include Editor style. -->
    <link href="https://cdn.jsdelivr.net/npm/froala-editor@3.1.0/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="sample">
    <h2>File upload example.</h2>
    <form>
        <textarea id="edit" name="content"></textarea>
    </form>
</div>

<!-- Include Editor JS files. -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/froala-editor@3.1.0//js/froala_editor.pkgd.min.js"></script>

<!-- Initialize the editor. -->
<script>
    new FroalaEditor('#edit', {
        // Set the file upload URL.
        fileUploadURL: '/upload_file',
        fileUploadParams: {
            id: 'my_editor'
        }
    })
</script>
</body>
</html>