/* SCROLL */
::-webkit-scrollbar { width: 20px; }
/* 스크롤바의 width */
::-webkit-scrollbar-track { background-color: #f0f0f0; }
/* 스크롤바의 전체 배경색 */
::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #1697bf, #62b7ac);
}
/* 스크롤바 색 */
::-webkit-scrollbar-button { display: none; }
/* 위 아래 버튼 (버튼 없애기를 함) */

#edit-menu-left {
    width: 50%;
    float: left;
    overflow-y: scroll;
}

#edit-menu-right {
    margin-left: 5%;
    margin-right: 5%;

    width: 40%;
    float: left;
}

.menu-table {
    border-collapse: separate;
    border-spacing: 0 10px;
}