# Project exclude paths
.gradle
/build/
build/
.idea
*.iws
*.iml
*.ipr
out/

application-oauth.yml
application-aws.yml
application-test.yml
application-test123.yml
application-test1515.yml
application-sang.yml

!**/src/main/**
!**/src/test/**

*.properties

*.class

*.log

*.jar
*.warg
*.nar
*.ear
*.zip
*.tar.gz
*.rar

.metadata

.apt_generated
.factorypath
.sts4-cache
.classpath
.project
.settings
.springBeans
/bin

/nbproject/private/
/nbuild/
/dist/
/nbdist/
/.nb-gradle/

.vscode/

gradlew.bat

*.ssh

RemoteSystemsTempFiles

!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties