<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="csrf-token" content="{{ csrf_token() }}">

    <title>SB Admin 2 - Register</title>

    <!-- Custom fonts for this template-->
    <link href="/bootstrap/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/bootstrap/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                        </div>
                        <form th:action="@{/manager/user/create}" method="post" class="user" enctype="multipart/form-data" onsubmit="return Form.submitClick();">
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <input type="text" class="form-control form-control-user required" id="loginId" name="loginId" placeholder="로그인 아이디 (필수 입력)" title="로그인 아이디">
                                </div>
                                    <div class="col-sm-6">
                                    <select id="userRole" name="userRole.authority" class="form-control required" style="height: 50px" title="계정 권한">
                                        <option th:text="선택" value="" disabled selected></option>
                                        <option th:each="userRole : ${userRoles}"
                                                th:text="${userRole.key}"
                                                th:value="${userRole}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="password" name="password" class="form-control form-control-user required password" id="password" placeholder="비밀번호 (필수 입력)" title="비밀번호">
                                </div>
                                <div class="col-sm-6">
                                    <input type="password" class="form-control form-control-user required password" id="re_password" placeholder="비밀번호 재입력 (필수 입력)" title="비밀번호 재입력">
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control form-control-user required" id="name" name="name" placeholder="이름 (필수 입력)" title="이름">
                            </div>
                            <div class="form-group row">
                                <input type="hidden" name="phoneNumber" id="phoneNumber">
                                <div class="col-sm-4 mb-3 mb-sm-0">
                                    <select id="phoneNumber1" class="form-control" style="height: 50px" title="앞 번호">
                                        <option th:each="preNumber : ${prePhoneNumber}"
                                                th:text="${preNumber}"
                                                th:value="${preNumber}">
                                        </option>
                                    </select>
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control form-control-user" id="phoneNumber2" maxlength="4" placeholder="가운데 번호" title="가운데 번호">
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control form-control-user" id="phoneNumber3" maxlength="4" placeholder="끝 번호" title="끝 번호">
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" name="email" class="form-control form-control-user required email" id="email" placeholder="이메일 (필수 입력)" title="이메일">
                            </div>

                            <div class="form-group">
                                <textarea class="form-control form-control-user" id="introduce" name="introduce" placeholder="소개 글" title="소개">

                                </textarea>
                            </div>
                            <div class="form-group">
                                <input type="file" id="file" name="file" title="파일">
                            </div>

                            <button type="submit" id="submit_button" class="btn btn-primary btn-user btn-block">
                                Register Account
                            </button>
                            <hr>
                            <a href="" class="btn btn-google btn-user btn-block">
                                <i class="fab fa-google fa-fw"></i> Register with Google
                            </a>
                            <a href="index.html" class="btn btn-facebook btn-user btn-block">
                                <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
                            </a>
                        </form>
                        <hr>
                        <div class="text-center">
                            <a class="small" href="forgot-password.html">Forgot Password?</a>
                        </div>
                        <div class="text-center">
                            <a class="small" href="login.html">Already have an account? Login!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Bootstrap core JavaScript-->
<script src="/bootstrap/vendor/jquery/jquery.min.js"></script>
<script src="/bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Core plugin JavaScript-->
<script src="/bootstrap/vendor/jquery-easing/jquery.easing.min.js"></script>
<!-- Custom scripts for all pages-->
<script src="/bootstrap/js/sb-admin-2.min.js"></script>
<!-- Axios Using unpkg CDN -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!-- Axios Using jsDelivr CDN:  -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script src="/js/common/utils.js"></script>
<script src="/js/common/validator.js"></script>
<script src="/js/user/form.js"></script>

</body></html>