<!DOCTYPE html>
<html lang="ko"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <th:block th:fragment="scriptFragment">
        <!-- Bootstrap core JavaScript-->
        <script src="/bootstrap/vendor/jquery/jquery.min.js"></script>
        <script src="/bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="/bootstrap/vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="/bootstrap/js/sb-admin-2.min.js"></script>

        <!-- axios -->
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

        <!-- jQuery cdn -->
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <!-- 메뉴 순서 변경 -->
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" ></script>

        <script src="/js/manager/main/index.js"></script>
        <script src="/js/manager/menu/menu.js"></script>
    </th:block>
</html>