<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <th:block th:fragment="sidebarFragment">
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/manager">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">
                    SangBlog
                </div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="/manager">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span id="test">Dashboard</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">
            <!-- Heading -->
            <div class="sidebar-heading">
                Menu

                <button style="text-align: right" onclick="location.href='/manager/menu/edit';">메뉴 편집</button>

            </div>

            <li th:each="menu, i : ${managerMenuList}" class="nav-item">
                <a class="nav-link collapsed no-margin" href="javascript:void(0);" th:id="@{menuLevel-} + ${i.index}"
                   th:data-type="${menu.menuType}" th:data-url="${menu.url + menu.uri}"
                   th:onclick="Index.menuToggle(this, this.getAttribute('data-type'), this.getAttribute('data-url'));">
                    <!--<i class="fas fa-fw fa-cog"></i>-->
                    <i class="fas fa-fw" th:classappend="${menu.menuType.name()} eq 'DIRECTORY' ? 'fa-folder' : 'fa-file'"></i>
                    <span th:text="${menu.menuName}"></span>
                </a>

                <ul th:class="@{menuLevel-} + ${i.index} + ' ' + menu-toggle" th:classappend="ul-style-none">
                    <li th:if="${menu.child != null}" th:each="menuChild2, j : ${menu.child}">
                        <a class="nav-link collapsed no-margin" href="javascript:void(0);" th:id="@{menuLevel-} + ${i.index} + ${j.index}"
                           th:data-type="${menuChild2.menuType}" th:data-url="${menuChild2.url + menuChild2.uri}"
                           th:onclick="Index.menuToggle(this, this.getAttribute('data-type'), this.getAttribute('data-url'));">
                            <i class="fas fa-fw" th:classappend="${menuChild2.menuType.name()} eq 'DIRECTORY' ? 'fa-folder' : 'fa-file'"></i>
                            <span th:text="${menuChild2.menuName}"></span>
                        </a>

                        <ul th:class="@{menuLevel-} + ${i.index} + ${j.index} + ' ' + menu-toggle" th:classappend="ul-style-none">
                            <li th:if="${menuChild2.child != null}" th:each="menuChild3, k : ${menuChild2.child}">
                                <a class="nav-link collapsed no-margin" href="javascript:void(0);" th:id="@{menuLevel-} + ${i.index} + ${j.index} + ${k.index}"
                                   th:data-type="${menuChild3.menuType}" th:data-url="${menuChild3.url + menuChild3.uri}"
                                   th:onclick="Index.menuToggle(this, this.getAttribute('data-type'), this.getAttribute('data-url'));">
                                    <i class="fas fa-fw" th:classappend="${menuChild3.menuType.name()} eq 'DIRECTORY' ? 'fa-folder' : 'fa-file'"></i>
                                    <span th:text="${menuChild3.menuName}"></span>
                                </a>

                                <ul th:class="@{menuLevel-} + ${i.index} + ${j.index} + ${k.index} + ' ' + menu-toggle" th:classappend="ul-style-none">
                                    <li th:if="${menuChild3.child != null}" th:each="menuChild4, l : ${menuChild3.child}">
                                        <a class="nav-link collapsed no-margin" href="javascript:void(0);" th:id="@{menuLevel-} + ${i.index} + ${j.index} + ${k.index} + ${l.index}"
                                           th:data-type="${menuChild4.menuType}" th:data-url="${menuChild4.url + menuChild4.uri}"
                                           th:onclick="Index.menuToggle(this, this.getAttribute('data-type'), this.getAttribute('data-url'));">
                                            <i class="fas fa-fw" th:classappend="${menuChild4.menuType.name()} eq 'DIRECTORY' ? 'fa-folder' : 'fa-file'"></i>
                                            <span th:text="${menuChild3.menuName}"></span>
                                        </a>
                                    </li>
                                </ul>

                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>

    </th:block>


</html>