<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">

<head>
    <link href="/css/manager/portfolio/form.css" rel="stylesheet">
</head>

<th:block layout:fragment="content">
    <!-- Begin Page Content -->
    <div class="container-fluid">
        <div class="main_content">
            <div class="content_area">
                <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">포트폴리오 등록</h1>
                </div>

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <form th:action="@{/manager/portfolio/create}" method="post" enctype="multipart/form-data" th:object="${portfolioInfo}" onsubmit="">
                        <div class="card-body p-0">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="p-5">
                                        <!--<form th:action="@{/manager/portfolio/create}" method="post" enctype="multipart/form-data" th:object="${portfolioInfo}" onsubmit="">-->
                                        <input id="id" name="id" type="hidden" th:value="${portfolioInfo.id}">
                                        <div class="card shadow mb-4">
                                            <div class="card-header py-3">
                                                <h6 class="m-0 font-weight-bold text-primary">제목</h6>
                                            </div>
                                            <div class="card-body">
                                                <div class="form-group row">
                                                    <div class="col-sm-12">
                                                        <input type="text" th:field="*{title}" class="form-control form-control-user" title="제목">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="card-header py-3">
                                                <h6 class="m-0 font-weight-bold text-primary">내용</h6>
                                            </div>
                                            <div class="card-body">
                                                <div class="form-group row">
                                                    <div class="col-sm-12">
                                                        <input type="text" th:field="*{content}" class="form-control form-control-user" title="내용">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="card-header py-3">
                                                <h6 class="m-0 font-weight-bold text-primary">URL</h6>
                                            </div>
                                            <div class="card-body">
                                                <div class="form-group row">
                                                    <div class="col-sm-12">
                                                        <input type="text" th:field="*{url}" class="form-control form-control-user" title="URL">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="card-header py-3">
                                                <h6 class="m-0 font-weight-bold text-primary">프로젝트 파일명</h6>
                                            </div>
                                            <div class="card-body">
                                                <div class="form-group row">
                                                    <div class="col-sm-12">
                                                        <input type="text" th:field="*{zipFile}" class="form-control form-control-user" title="ZIP FILE">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="card-header py-3">
                                                <h6 class="m-0 font-weight-bold text-primary">사용 여부</h6>
                                            </div>
                                            <div class="card-body">
                                                <div class="form-group row">
                                                    <div class="col-sm-12">
                                                        <label for="radioY">
                                                            <input type="radio" name="displayFlag" id="radioY" value="Y" th:checked="${portfolioInfo.displayFlag eq 'Y' ? 'checked' : ''}" title="사용 여부"> 사용
                                                        </label>
                                                        <label for="radioN">
                                                            <input type="radio" name="displayFlag" id="radioN" value="N" title="사용 여부"> 사용 안함
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="card-header py-3">
                                                <h6 class="m-0 font-weight-bold text-primary">개발 환경</h6>
                                                <div class="card-body">
                                                    <div class="form-group row">
                                                        <div class="col-sm-4">
                                                            <input type="text" id="envHashTag" class="form-control form-control-user">
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <button type="button" class="btn btn-primary m-0" onclick="Form.addHashTag('env')">해시태그 추가</button>
                                                        </div>
                                                    </div>
                                                    <div id="env_hashtag">
                                                        <div th:each="hashTag : ${portfolioInfo.envHashTag}" class="hash-tag">
                                                            <input type="hidden" th:value="${hashTag.id}">
                                                            <span th:text="${hashTag.title}"></span>
                                                            <a href="">
                                                                <img th:src="@{/img/close-button.png}" alt="X">
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>

                                                <h6 class="m-0 font-weight-bold text-primary">사용 기술</h6>
                                                <div class="card-body">
                                                    <div class="form-group row">
                                                        <div class="col-sm-4">
                                                            <input type="text" id="skillHashTag" class="form-control form-control-user">
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <button type="button" class="btn btn-primary m-0" onclick="Form.addHashTag('skill')">해시태그 추가</button>
                                                        </div>
                                                    </div>
                                                    <div id="skill_hashtag">
                                                        <div th:each="hashTag : ${portfolioInfo.skillHashTag}" class="hash-tag">
                                                            <input type="hidden" th:value="${hashTag.id}">
                                                            <span th:text="${hashTag.title}"></span>
                                                            <a href="">
                                                                <img th:src="@{/img/close-button.png}" alt="X">
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!--<div class="card shadow mb-4">
                                            <div class="card-header py-3">
                                                <h6 class="m-0 font-weight-bold text-primary">프로젝트 이미지</h6>
                                            </div>
                                            <div class="card-body">
                                                <div class="text-center">
                                                    <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;" th:src="@{/img/dog.jpg}" alt="">
                                                </div>
                                                <p>
                                                    asdasdasdahoigdfgofidagfdo;ighadfg;iahdfg;ioh
                                                </p>
                                            </div>
                                        </div>-->

                                        <div class="card shadow mb-4" th:each="commonImage : ${portfolioInfo.commonImageRepositoryList}">
                                            <div class="card-header py-3">
                                                <h6 class="m-0 font-weight-bold text-primary" th:text="${commonImage.title}">제목 없음</h6>
                                            </div>
                                            <div class="card-body">
                                                <div class="text-center">
                                                    <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;" th:src="@{${commonImage.fileName}}" alt="이미지">
                                                </div>
                                                <p th:text="${commonImage.content}">
                                                    내용 없음
                                                </p>
                                            </div>
                                        </div>

                                        <div class="card shadow mb-4">
                                            <div class="card-header py-3">
                                                <!--<h6 class="m-0 font-weight-bold text-primary">프로젝트 이미지</h6>-->
                                                <div class="form-group row">
                                                    <div class="col-sm-8">
                                                        <input type="text" name="commonImageRepositoryList.title" class="form-control form-control-user" placeholder="제목 입력">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <!--<div class="text-center">
                                                    <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;" th:src="@{/img/dog.jpg}" alt="">
                                                </div>-->
                                                <p>
                                                    <div class="col-sm-12">
                                                        <div id="editor"></div>
                                                        <div class="fr-view">
                                                            Here comes the HTML edited with the Froala rich text editor.
                                                        </div>
                                                    </div>
                                                </p>
                                            </div>
                                        </div>

                                        <div class="text-center">
                                            <button class="btn btn-primary">프로젝트 이미지 추가</button>
                                        </div>
                                        <!--</form>-->
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="text-center">
                            <button type="button" class="btn btn-primary btn-user m-3" id="temp-save-button">
                                임시 저장
                            </button>
                            <button type="submit" class="btn btn-primary btn-user m-3" id="edit-save-button">
                                등록
                            </button>
                            <button type="button" class="btn btn-primary btn-user m-3">
                                취소
                            </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/portfolio/form.js"></script>
    <script>
        window.addEventListener('DOMContentLoaded', (event) => {
            // 여기 안에서 var editor = new 어쩌구()
            let editor = new FroalaEditor('#editor', {
                imageUploadURL: '/manager/portfolio/upload_image_test'
            });

        });
    </script>
</th:block>
</html>
