<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">

<th:block layout:fragment="content">
    <!-- Begin Page Content -->
    <div class="container-fluid">
        <div class="main_content">
            <div class="content_area">
                <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">포트폴리오 등록</h1>
                </div>

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="p-5">
                                    <form th:action="@{/manager/portfolio/create}" method="post" enctype="multipart/form-data" th:object="${portfolioInfo}" onsubmit="">
                                        <div class="card shadow mb-4">
                                            <div class="card-header py-3">
                                                <h6 class="m-0 font-weight-bold text-primary">제목</h6>
                                            </div>
                                            <div class="card-body">
                                                <div class="form-group row">
                                                    <div class="col-sm-12">
                                                        <input type="text" th:field="*{title}" class="form-control form-control-user" title="제목">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="card-header py-3">
                                                <h6 class="m-0 font-weight-bold text-primary">내용</h6>
                                            </div>
                                            <div class="card-body">
                                                <div class="form-group row">
                                                    <div class="col-sm-12">
                                                        <input type="text" th:field="*{title}" class="form-control form-control-user" title="제목">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="card-header py-3">
                                                <h6 class="m-0 font-weight-bold text-primary">url</h6>
                                            </div>
                                            <div class="card-body">
                                                <div class="form-group row">
                                                    <div class="col-sm-12">
                                                        <input type="text" th:field="*{title}" class="form-control form-control-user" title="제목">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="card-header py-3">
                                                <h6 class="m-0 font-weight-bold text-primary">프로젝트 파일명</h6>
                                            </div>
                                            <div class="card-body">
                                                <div class="form-group row">
                                                    <div class="col-sm-12">
                                                        <input type="text" th:field="*{title}" class="form-control form-control-user" title="제목">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="card-header py-3">
                                                <h6 class="m-0 font-weight-bold text-primary">사용 여부</h6>
                                            </div>
                                            <div class="card-body">
                                                <div class="form-group row">
                                                    <div class="col-sm-12">
                                                        <input type="text" th:field="*{title}" class="form-control form-control-user" title="제목">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="card-header py-3">
                                                <h6 class="m-0 font-weight-bold text-primary">개발 환경</h6>
                                                <div class="card-body">
                                                    <div class="form-group row">
                                                        <div class="col-sm-12">
                                                            <input type="text" th:field="*{title}" class="form-control form-control-user" title="제목">
                                                        </div>
                                                    </div>
                                                </div>
                                                <h6 class="m-0 font-weight-bold text-primary">사용 기술</h6>
                                                <div class="card-body">
                                                    <div class="form-group row">
                                                        <div class="col-sm-12">
                                                            <input type="text" th:field="*{title}" class="form-control form-control-user" title="제목">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="card shadow mb-4">
                                            <div class="card-header py-3">
                                                <h6 class="m-0 font-weight-bold text-primary">프로젝트 이미지</h6>
                                            </div>
                                            <div class="card-body">
                                                <div class="form-group row">
                                                    <div class="col-sm-12">
                                                        <input type="file" th:field="*{title}" class="form-control form-control-user" title="제목">
                                                        <img th:src="@{img/dog.jpg}"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</th:block>
</html>
