<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="/layouts/default">

<th:block layout:fragment="content">
    <!-- Begin Page Content -->
    <div class="container-fluid">
        <div class="main_content">
            <div class="search_area">
                <table class="search_frame">
                    <colgroup>
                        <col width="50%">
                        <col width="50%">
                    </colgroup>
                    <tbody>
                    <tr>
                        <td>
                            검색1
                        </td>
                        <td>
                            검색2
                        </td>
                    </tr>
                    <tr>
                        <td>검색 기능3</td>
                        <td>검색 기능4</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <hr/>

            <div class="content_area">

            </div>

            <div class="page_area">
                asdasd
            </div>

        </div>
    </div>
</th:block>
</html>
